<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Ooahh Calculator</title>

    <!-- Bootstrap Core CSS - Uses Bootswatch Flatly Theme: http://bootswatch.com/flatly/ -->
    <link href="app://ooahh/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="app://ooahh/css/freelancer.css" rel="stylesheet">
    <link href="app://ooahh/css/animations.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="app://ooahh/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- jQuery -->
    <script src="app://ooahh/js/jquery.js"></script>


</head>

<body id="page-top" class="index" style="-webkit-user-select: none;scrolling:none;overflow:hidden;">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top" style="-webkit-user-select: none;-webkit-app-region: drag">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <a class="navbar-brand" href="#page-top">Ooahh Calculator</a>
            </div>
	    <div class="pull-right" style="position:absolute;top:0px;right:20px;">
		<ul class="nav navbar-nav navbar-right">
		    <li>
	                <a href="#close" id="close" style="-webkit-app-region: no-drag;">Close</a>
	            </li>
	        </ul>
	    </div>
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Calculator Section -->
    <section class="success" id="calculator">
    <form action="#" id="calculate">
        <div class="container form-group">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <input type="text" id="cresult" class="form-control input-lg" style="text-align:right;font-size:22px;" />
                </div>
            </div>
            <div class="col-lg-12">
                <button class="btn btn-lg col-sm-3 col-md-3 col-lg-3 btn-primary" onmousedown="$('#cresult').val($('#cresult').val() +'3.1415926535');">&Pi;</button>
                <button class="btn btn-lg col-sm-3 col-md-3 col-lg-3 btn-primary" onmousedown="$('#cresult').val(Math.sqrt(eval($('#cresult').val())))">&radic;</button>
                <button class="btn btn-lg col-sm-3 col-md-3 col-lg-3 btn-primary" onmousedown="$('#cresult').val($('#cresult').val() +'(');">(</button>
                <button class="btn btn-lg col-sm-3 col-md-3 col-lg-3 btn-primary" onmousedown="$('#cresult').val($('#cresult').val() +')');">)</button>
            </div>
            <div class="col-lg-12">
                <button class="btn btn-lg col-sm-3 col-md-3 col-lg-3 btn-primary" onmousedown="$('#cresult').val(Math.tan(eval($('#cresult').val())))">TAN</button>
                <button class="btn btn-lg col-sm-3 col-md-3 col-lg-3 btn-primary" onmousedown="$('#cresult').val(Math.exp(eval($('#cresult').val())))">EXP</button>
                <button class="btn btn-lg col-sm-3 col-md-3 col-lg-3 btn-primary" onmousedown="$('#cresult').val('');">CE</button>
                <button class="btn btn-lg col-sm-3 col-md-3 col-lg-3 btn-primary" onmousedown="$('#cresult').val($('#cresult').val().substr(0,$('#cresult').val().length-1))">C</button>
            </div>
            <div class="col-lg-12">
                <button class="btn btn-lg col-sm-3 col-md-3 col-lg-3 btn-primary" onmousedown="$('#cresult').val($('#cresult').val() +'7');">7</button>
                <button class="btn btn-lg col-sm-3 col-md-3 col-lg-3 btn-primary" onmousedown="$('#cresult').val($('#cresult').val() +'8');">8</button>
                <button class="btn btn-lg col-sm-3 col-md-3 col-lg-3 btn-primary" onmousedown="$('#cresult').val($('#cresult').val() +'9');">9</button>
                <button class="btn btn-lg col-sm-3 col-md-3 col-lg-3 btn-primary" onmousedown="$('#cresult').val($('#cresult').val() +'+');">+</button>
            </div>
            <div class="col-lg-12">
                <button class="btn btn-lg col-sm-3 col-md-3 col-lg-3 btn-primary" onmousedown="$('#cresult').val($('#cresult').val() +'4');">4</button>
                <button class="btn btn-lg col-sm-3 col-md-3 col-lg-3 btn-primary" onmousedown="$('#cresult').val($('#cresult').val() +'5');">5</button>
                <button class="btn btn-lg col-sm-3 col-md-3 col-lg-3 btn-primary" onmousedown="$('#cresult').val($('#cresult').val() +'6');">6</button>
                <button class="btn btn-lg col-sm-3 col-md-3 col-lg-3 btn-primary" onmousedown="$('#cresult').val($('#cresult').val() +'-');">-</button>
            </div>
            <div class="col-lg-12">
                <button class="btn btn-lg col-sm-3 col-md-3 col-lg-3 btn-primary" onmousedown="$('#cresult').val($('#cresult').val() +'1');">1</button>
                <button class="btn btn-lg col-sm-3 col-md-3 col-lg-3 btn-primary" onmousedown="$('#cresult').val($('#cresult').val() +'2');">2</button>
                <button class="btn btn-lg col-sm-3 col-md-3 col-lg-3 btn-primary" onmousedown="$('#cresult').val($('#cresult').val() +'3');">3</button>
                <button class="btn btn-lg col-sm-3 col-md-3 col-lg-3 btn-primary" onmousedown="$('#cresult').val($('#cresult').val() +'/');">/</button>
            </div>
            <div class="col-lg-12">
                <button class="btn btn-lg col-sm-3 col-md-3 col-lg-3 btn-primary" onmousedown="$('#cresult').val($('#cresult').val() +'0');">0</button>
                <button class="btn btn-lg col-sm-3 col-md-3 col-lg-3 btn-primary" onmousedown="$('#cresult').val($('#cresult').val() +'.');">.</button>
                <button class="btn btn-lg col-sm-3 col-md-3 col-lg-3 btn-primary" onmousedown="$('#cresult').val(eval($('#cresult').val()))">=</button>
                <button class="btn btn-lg col-sm-3 col-md-3 col-lg-3 btn-primary" onmousedown="$('#cresult').val($('#cresult').val() +'*');">x</button>
            </div>
        </div>
    </form>
    </section>

    <script type="text/javascript">
    $('#close').click(function() {
	window.close();
    });
    </script>

    <!-- Bootstrap Core JavaScript -->
    <script src="app://ooahh/js/bootstrap.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="app://ooahh/js/freelancer.js"></script>

</body>

</html>